body {
  font-size: 12px;
  font-family: ubuntu mono;
  background-color: black;
  color: white;
  margin:0 auto;
  padding: 20px;
  }

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  color: #868686;
  text-decoration: underline;
}

.navbar {
  background-color: #1b2036;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: rgb(244, 244, 244);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #222121;
}

